<div class="bg-img-wrapper">
    <img style="background-image: url('/assets/images/Tech_Master.jpg')"/>
</div>
<section id="mainContent">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!-- MAIN ARTICLE -->
            <article class="main-article">
                <!-- STANDARD TEXT WIDGET -->
                <div class="standard-text-widget">
                    <h2>Who we are</h2>
                    <p>Initiate First strategic Information services and IT consulting is young company passionate about latest and next generation technology. We are continuously seeking new world projects. Our seasoned subject matter experts ensure superior practices for high performance computing and scalability. Initiate First’s experienced leadership will enable you to efficiently adapt to new business processes. Focusing on the client’s critical issues and pain points enables IF to convert those into opportunities and integrated solutions.</p>
                    <p>We are selective in choosing our projects because we want to focus on the ones that truly can utilize our expertise and forte to full potential.  Our domain and technology specialists possess the skill and experience that will produce effective results in the selective projects. With the right expertise and zeal we are looking forward to serving esteemed clients including CMMI 5 level companies.</p>
                    <p>Our current prominent in-house project called Priority Traffic Signals (PTS) is based on the Radio Frequency Identification (RFID) technology. In our quest for advance and next generation technologies, IF spends significant time and resources in research and development. The project PTS focuses on RF tags, readers, hardware (products using RF ID technology) and software.</p>
                </div>
                <div class="standard-text-widget">
                    <h2>Our commitment</h2>
                    <p>We at Initiate First believe in building long term relationships with our clients and employees based on trust and commitment.  Our promise is reliability, consistency and quality.</p>
                    <p>Our mission is to devise a customer centric and continuous innovation approach with focus on bringing the next generation technologies accessible to new world projects with niche in database management and application development needs.</p>
                    <p>Initiate First’s working model is designed on statistical data obtained from sources like interviews, opinion polls and surveys with clients during the needs discovery. Our vision is to utilize experienced research and development strategies in implementing cutting edge technology thus providing best in class solutions.</p>
                </div>
            </article>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- RIGHTSIDE -->
            <aside id="rightside" class="bg-grey-light">
                <div class="block page-list hidden-sm hidden-xs">
                    <div class="caption">
                        <ul class="cd-secondary-nav is-hidden">
                            <li class="no-children">
                                <a href="#/consulting/overview">Overview</a>
                            </li>
                            <li class="no-children">
                                <a href="#/consulting/marketing"> Marketing Automation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>