<div class="bg-img-wrapper">
    <img style="background-image: url('/assets/images/Tech_Master.jpg')"/>
</div>
<section id="mainContent">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!-- MAIN ARTICLE -->
            <article class="main-article">
                <!-- STANDARD TEXT WIDGET -->
                <div class="standard-text-widget">
                    <h2>What we do</h2>
                    <p>Initiate First Information Services provides a complete package of Data solutions consisting of personalized feasibility analysis study, Business to IT strategy, architecture design, and Data warehousing and development. Our niche is Big Data Analysis, Database maintenance and monitoring, Application development, Cloud solutions, Business intelligence, performance enhancements and IT consulting. </p>
                    <p>Our approach reflects latest and next generation technology in web and mobile development to deliver turn-key solutions. Our in- house project based on Radio Frequency Identification Technology (RFID) is an example of our quest for the next generation technologies.</p>
                    <p>Our core service offerings include:</p>
                    <ul class="services-list">
                        <li>DBMS</li>
                        <li>BIG DATA</li>
                        <li>Data Analytics, Data Mapping</li>
                        <li>Data Warehouse Development</li>
                        <li>DB Quality Assurance, Strategy and Delivery</li>
                        <li>Business Intelligence Reporting</li>
                        <li>Consulting Services</li>
                        <li>Application Design and Development</li>
                        <li>Workflow Automation</li>
                        <li>Cloud services</li>
                    </ul>
                </div>



                <div class="standard-text-widget">
                    <h2>Our commitment</h2>
                    <p>We at Initiate First believe in building long term relationships with our clients and employees based on trust and commitment.  Our promise is reliability, consistency and quality.</p>
                    <p>Our mission is to devise a customer centric and continuous innovation approach with focus on bringing the next generation technologies accessible to new world projects with niche in database management and application development needs.</p>
                    <p>Initiate First’s working model is designed on statistical data obtained from sources like interviews, opinion polls and surveys with clients during the needs discovery. Our vision is to utilize experienced research and development strategies in implementing cutting edge technology thus providing best in class solutions.</p>
                </div>
            </article>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- RIGHTSIDE -->
            <aside id="rightside" class="bg-grey-light">
                <div class="block page-list hidden-sm hidden-xs">
                    <div class="caption">
                        <ul class="cd-secondary-nav is-hidden">
                            <li class="no-children">
                                <a href="#/consulting/overview">Overview</a>
                            </li>
                            <li class="no-children">
                                <a href="#/consulting/marketing"> Marketing Automation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>