<div class="bg-img-wrapper">
    <img style="background-image: url('/assets/images/partners.jpg')"/>
</div>
<section id="mainContent">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!-- MAIN ARTICLE -->
            <article class="main-article">
                <!-- STANDARD TEXT WIDGET -->
                <div class="standard-text-widget">
                    <h2>World-leading Adobe Marketing Cloud Consultants</h2>
                    <p>When the next best option is only ever a few clicks or keystrokes away, marketers have to work harder to win customer affection. This complexity is manageable, but increasingly only with the support of powerful technology. The brands that are winning are those that are able to maximize the use of real-time automation and cross-channel campaign execution to provide 1-2-1 marketing at scale.</p>
                    <p>Our consultants understand this landscape and make recommendations to our clients on how to best utilize technology to make marketing simpler, easier and more effective in this multi-screen, multi-platform, multi-channel world. We build our clients a roadmap that lays out the implementation of new technologies and the integration with existing owned platforms.</p>
                    <p>We are top performing partners of Adobe Marketing Cloud, specialised in Adobe Campaign, and are experienced at getting the best from their solutions through expertise in custom integrations, product innovation and optimization.</p>
                    <h2>Systems integration experts</h2>
                    <p>We architect, implement and orchestrate Adobe Marketing Cloud technology to enable you to create more rewarding customer relationships.</p>
                    <p>Our world-leading systems integration and campaign services expertise take the complexity out of marketing to customers; empowering brands to discover the value in their data and to take advantage of automated, personalized and decision-based content and offer opportunities on every channel.</p>
                </div>
            </article>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- RIGHTSIDE -->
            <aside id="rightside" class="bg-grey-light">
                <div class="block page-list hidden-sm hidden-xs">
                    <div class="caption">
                        <ul class="cd-secondary-nav is-hidden">
                            <li class="no-children">
                                <a href="#/consulting/overview">Overview</a>
                            </li>
                            <li class="no-children">
                                <a href="#/consulting/marketing"> Marketing Automation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
