<div class="bg-img-wrapper">
    <img style="background-image: url('/assets/images/Tech_Master.jpg')"/>
</div>
<section id="mainContent">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!-- MAIN ARTICLE -->
            <article class="main-article">
                <!-- STANDARD TEXT WIDGET -->
                <div class="standard-text-widget">
                    <h2>Introduction</h2>
                    <p>If you are looking for intelligent, dynamic and proficient Information services, you are looking in the right place.  Initiate First Information services is a smart service provider offering expert advice, integrated solutions and quality results to help you achieve your business targets effectively. Initiate First IS provides IT consulting and strategic solutions to wide range of verticals and domains with best in class and next generation implementations. Our global Consulting, development and outsourcing operations provide accessibility to 24*7 service and support.
                    </p>
                    <p>Initiate First strategic IT consulting services focuses on the client’s most critical issues and opportunities converting those into integrated solutions. Our niche is in complete suite of database technologies including Database management, Big Data, Enterprise Data warehousing, Data Analytics, Data Migration strategy projects, Cloud services and Business Intelligence reporting. Our promise is Quality results, Prompt delivery and Optimized solutions.</p>
                    <p>We look forward to the opportunity of associating with you.</p>
                    <p>Thank you for visiting Initiate First.</p>
                </div>
            </article>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- RIGHTSIDE -->
            <aside id="rightside" class="bg-grey-light">
                <div class="block page-list hidden-sm hidden-xs">
                    <div class="caption">
                        <ul class="cd-secondary-nav is-hidden">
                            <li class="no-children">
                                <a href="#/consulting/overview">Overview</a>
                            </li>
                            <li class="no-children">
                                <a href="#/consulting/marketing"> Marketing Automation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>